.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  background: white;
  border-radius: 1rem;
  color: #ccc;
  position: relative;
}

.close-icon {
  position: absolute;
  background: #fff;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  color: #000;
  cursor: pointer;
}

